$alto:15px;
$ancho:15px;

.footer{
    background-color: $color-footer;
    // &__redesSociales{
    //   width: $ancho;
    // }
    // &__redes{
    //   height: $alto*2;
    //   width: $ancho*2;
    //   margin-bottom: 2rem;
    // }
  }
  
  