h1{
    font-family: prompt;
    color:#00C8BB;
    text-align: center;
    margin-top: 2rem;
  }
  h2{
    font-family: prompt;
    color:#00C8BB;
    text-align: center;
    text-decoration: underline;
    margin: 2rem;
    
  }
  
  p{ 
    font-family: prompt;
    color: rgb(255, 255, 255);
    text-align:center;
    margin: 2rem 1rem 1rem 1re,;
    text-align: center;

  }