.servicio{
    &__contenedor{
      width: 99%;
    }
    &__cajas{
    
    text-align: center;
    font-family: prompt;
    }
    &__img{
    height: 90px;
    background-color: white;
    border-radius: 20px;

  }
}

// .row{
//   width:99%;
// }